<!-- Navigation -->
<header class="nav">

<div class="nav__holder nav--sticky">
<div class="container relative">

<!-- Top Bar -->
<div class="top-bar d-none d-lg-flex">

    <!-- Currency / Language -->
    <!--<ul class="top-bar__currency-language">
        <li class="top-bar__language">
            <a href="#">English</a>
            <div class="top-bar__language-dropdown">
                <ul>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Spanish</a></li>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Chinese</a></li>
                </ul>
            </div>
        </li>
        <li class="top-bar__currency">
            <a href="#">USD</a>
            <div class="top-bar__currency-dropdown">
                <ul>
                    <li><a href="#">USD</a></li>
                    <li><a href="#">EUR</a></li>
                </ul>
            </div>
        </li>              
    </ul>-->

    <!-- Promo -->
    <!--<p class="top-bar__promo text-center">Free shipping on orders over $50</p>-->

    <!-- Sign in / Wishlist / Cart -->
    <div class="top-bar__right">

        <!-- Sign In -->
        @*<a href="login.html" class="top-bar__item top-bar__sign-in" id="top-bar__sign-in"><i class="ui-user"></i>Sign In</a>*@
        <a class="top-bar__item top-bar__sign-in" id="top-bar__sign-in" href="@Url.Action("Login", "Home")"><i class="ui-user"></i>Sign In</a>
        <!-- Wishlist -->
        <!--<a href="#" class="top-bar__item"><i class="ui-heart"></i></a>-->
        <!--<div class="top-bar__item nav-cart">
        <a href="cart.html">
            <i class="ui-bag"></i>(2)
        </a>
        <div class="nav-cart__dropdown">
            <div class="nav-cart__items">

                <div class="nav-cart__item clearfix">
                    <div class="nav-cart__img">
                        <a href="#">
                            <img src="img/shop/cart_small_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="nav-cart__title">
                        <a href="#">
                            Classic White Tailored Shirt
                        </a>
                        <div class="nav-cart__price">
                            <span>1 x</span>
                            <span>19.99</span>
                        </div>
                    </div>
                    <div class="nav-cart__remove">
                        <a href="#"><i class="ui-close"></i></a>
                    </div>
                </div>

                <div class="nav-cart__item clearfix">
                    <div class="nav-cart__img">
                        <a href="#">
                            <img src="img/shop/cart_small_2.jpg" alt="">
                        </a>
                    </div>
                    <div class="nav-cart__title">
                        <a href="#">
                            Sport Hi Adidas
                        </a>
                        <div class="nav-cart__price">
                            <span>1 x</span>
                            <span>29.00</span>
                        </div>
                    </div>
                    <div class="nav-cart__remove">
                        <a href="#"><i class="ui-close"></i></a>
                    </div>
                </div>

            </div>

            <div class="nav-cart__summary">
                <span>Cart Subtotal</span>
                <span class="nav-cart__total-price">$1799.00</span>
            </div>

            <div class="nav-cart__actions mt-20">
                <a href="shop-cart.html" class="btn btn-md btn-light"><span>View Cart</span></a>
                <a href="shop-checkout.html" class="btn btn-md btn-color mt-10"><span>Proceed to Checkout</span></a>
            </div>
        </div>
    </div>
    <!--endgame-->
</div>

</div> <!-- end top bar -->

<div class="flex-parent">

    <!-- Mobile Menu Button -->
    <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open mobile menu">
        <span class="nav-icon-toggle__box">
            <span class="nav-icon-toggle__inner"></span>
        </span>
    </button> <!-- end mobile menu button -->

    <!-- Logo -->
    <a href="index.html" class="logo">
        <img class="logo__img" src="~/Content/img/logo_light.png" alt="logo">
    </a>

    <!-- Nav-wrap -->
    <nav class="flex-child nav__wrap d-none d-lg-block">              
        <ul class="nav__menu">

            <li class="nav__dropdown active">
                <a href="catalog.html">Gloves</a>
                <ul class="nav__dropdown-menu">
                    <li><a href="#">Coated Gloves</a></li>
                    <li><a href="#">Cotton Gloves</a></li>
                    <li><a href="#">Latex Gloves</a></li>
                    <li><a href="#">Leather Working Gloves</a></li>
                    <li><a href="#">PVC Dotted Cotton Gloves</a></li>
                    <li><a href="#">Welding Gloves</a></li>
                </ul>
            </li>

            <li class="nav__dropdown">
                <a href="catalog.html">Safety Protection</a>
                <ul class="nav__dropdown-menu">
                    <li><a href="#">Protective Earplug</a></li>
                    <li><a href="#">Protective Glasses</a></li>
                    <li><a href="#">Protective Mask</a></li>
                    <li><a href="#">Rain Boots</a></li>
                    <li><a href="#">Safety Helmet</a></li>
                </ul>
            </li>

            <li class="nav__dropdown">
                <a href="catalog.html">Brushes</a>
                <ul class="nav__dropdown-menu">
                    <li><a href="#">Ceiling Brush</a></li>
                    <li><a href="#">Floor Brush</a></li>
                    <li><a href="#">Paint Brush</a></li>
                    <li><a href="#">Paint Roller Brush</a></li>
                    <li><a href="#">OTHER BRUSH</a></li>
                </ul>
            </li>
                
            <li class="nav__dropdown">
                <a href="catalog.html">Tools</a>
                <ul class="nav__dropdown-menu nav__megamenu">
                    <li>
                        <div class="nav__megamenu-wrap">
                            <div class="row">

                                <div class="col nav__megamenu-item">
                                    <a href="#" class="nav__megamenu-title">Power Tools</a>
                                    <ul class="nav__megamenu-list">
                                        <li><a href="#">Angle Grinders</a></li>
                                        <li><a href="#">Belt Sanders</a></li>
                                        <li><a href="#">BT-Bench Grinders</a></li>
                                        <li><a href="#">BT-Chop Saw-14"(355) Abrasive</a></li>
                                    </ul>
                                </div>

                                <div class="col nav__megamenu-item">
                                    <a href="#" class="nav__megamenu-title">Hand Tools</a>
                                    <ul class="nav__megamenu-list">
                                        <li><a href="#">BT-Jaw/Clamp/Vises</a></li>
                                        <li><a href="#">Cutting Tools &amp; Knives</a></li>
                                        <li><a href="#">Garden Small Tools</a></li>
                                        <li><a href="#">Hammer/Campers Axe</a></li>
                                        <li><a href="#">Hand Saw</a></li>
                                    </ul>
                                </div>

                                <div class="col nav__megamenu-item">
                                    <a href="#" class="nav__megamenu-title">Garden Tools</a>
                                    <ul class="nav__megamenu-list">
                                        <li><a href="#">Chainsaws</a></li>
                                        <li><a href="#">Leaf Blowers</a></li>
                                        <li><a href="#">Log Splitters</a></li>
                                        <li><a href="#">Pressure Washers</a></li>
                                    </ul>
                                </div>

                                <div class="col nav__megamenu-item">
                                    <a href="#" class="nav__megamenu-title">Air Tools</a>
                                    <ul class="nav__megamenu-list">
                              
                                    </ul>
                                </div>

                                <div class="col nav__megamenu-item">
                                    <a href="#" class="nav__megamenu-title">Vacuum Cleaner</a>
                                    <ul class="nav__megamenu-list">
                                        <li><a href="#">SJ019</a></li>
                                        <li><a href="#">SJ301</a></li>
                                        <li><a href="#">SJ302</a></li>
                                        <li><a href="#">SJ308</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <!--<li class="nav__dropdown">
                <a href="blog-standard.html">News</a>
                <ul class="nav__dropdown-menu">
                    <li><a href="blog-standard.html">Blog Standard</a></li>
                    <li><a href="blog-single.html">Single Post</a></li>
                </ul>
            </li>-->
                
            <li class="nav__dropdown">
                <a href="contact.html">Pages</a>
                <ul class="nav__dropdown-menu">
                    <li><a href="catalog.html">Catalog</a></li>
                    <li><a href="single-product.html">Single Product</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="404.html">404</a></li>
                </ul>
            </li>

        </ul> <!-- end menu -->

    </nav> <!-- end nav-wrap -->


    <!-- Search -->
    <div class="flex-child nav__search d-none d-lg-block">
        <form method="get" class="nav__search-form">
            <input type="search" class="nav__search-input" placeholder="Search">
            <button type="submit" class="nav__search-submit">
                <i class="ui-search"></i>
            </button>
        </form>
    </div>


    <!-- Mobile Wishlist -->
    <a href="#" class="nav__mobile-wishlist d-lg-none" aria-label="Mobile wishlist">
        <i class="ui-heart"></i>
    </a>

    <!-- Mobile Cart -->
    <a href="cart.html" class="nav__mobile-cart d-lg-none">
        <i class="ui-bag"></i>
        <span class="nav__mobile-cart-amount">(2)</span>
    </a>

            
         
        
</div> <!-- end flex-parent -->
</div> <!-- end container -->

</div>
</header> <!-- end navigation -->
